<div class="col-xs-12">		
	<% if flash[:notice] %>
	<div class="flash">
		<%= flash[:notice] %>
	</div>
	<% end %></div>

<div class="col-xs-3">


	<h2>User info</h2>
	<table class="table">
		<tbody>

			<tr><%= attachment_image_tag user, :image, :fill, 100, 100, fallback: "no_image.jpg", class: "profile-thumb" %></tr>

				<th>name</th>
				<th><%= user.name %></th>
			</tr>
			<tr>
				<th>introduction</th>
				<th><%= user.introduction %></th>
			</tr>
		</tbody>
	</table>

	<% if @user.id == current_user.id %>
		<div class="row">
			<%= link_to edit_user_path(user), :class => "edit_user_#{@user.id}" do %>
			<p class="col-xs-12 btn btn-default glyphicon glyphicon-wrench"></p>
			<% end %>
		</div>
	<% else %>
		<div class="row">
			<%= link_to user_path(user), :class => "edit_user_#{@user.id}" do %>
			<p class="col-xs-12 btn btn-default glyphicon glyphicon-wrench"></p>
			<% end %>
		</div>
	<% end %>

	<h2>New book</h2>
	<div class="new_book">
		<%= form_for(book) do |f| %>
		<div class="field row">
			<%= f.label :Title %>
			<%= f.text_field :title, class: "col-xs-12 book_title" %>
		</div>

		<div class="field row">
			<%= f.label :Opinion %>
			<%= f.text_area :opinion, class: "col-xs-12 book_body" %>
		</div>

		<div class="actions row">
			<%= f.submit 'Create Book', :class => "btn btn-primary col-xs-12" %>
		</div>

		<% end %>
	</div>
</div>
